<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="wrap">
    <div class="header">
      <div class="icon">
        <a href="#">
          <img src="https://svgshare.com/i/YhU.svg" alt="icon">
        </a>
      </div>

      <ul class="nav">
        <li><a href="#">首頁</a></li>
        <li><a href="#">甜點</a></li>
        <li><a href="#">登入</a></li>
        <span class="shopping"><a href="#"><img
              src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/143d37deb8a19ecd8eccc806ae26acbb90fe4338/student-week1/shopping_cart.png"
              alt=""></a></sapn>
      </ul>
    </div>

    <%- contents %>


  </div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>